<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<a th:href="@{/admin/menu}">
    <button type="button">Back to menu</button>
</a><br/>
<th:block th:if="${not #lists.isEmpty(accessedComments)}">
    <th:block th:each="comment, status : ${accessedComments}">
        <span th:text="${(status.index + 1)}")></span> <span th:text="${comment.comment}"></span>
        <form method="post"
              th:action="@{/admin/menu/accessedComments}">
            <input type="hidden" name="commentId" th:value="${comment.id}"/>
            <button type="submit" value="Delete">Delete</button>
        </form>
    </th:block>
</th:block>
<th:block th:unless="${not #lists.isEmpty(accessedComments)}">
    <p>There are no comments</p>
</th:block>
</body>
</html>
