<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<a th:href="@{/admin/menu}">
    <button type="button"><span th:text="#{menu.backToMenu}"></span></button>
</a><br/>
<th:block th:if="${not #lists.isEmpty(accessedComments)}">
    <th:block th:each="comment, status : ${accessedComments}">
        <span th:text="${(status.index + 1)}")></span> <span th:text="${comment.comment}"></span>
        <form method="post"
              th:action="@{/admin/menu/accessedComments}">
            <input type="hidden" name="commentId" th:value="${comment.id}"/>
            <button type="submit" value="Delete"><span th:text="#{delete.delete}"></span></button>
        </form>
    </th:block>
</th:block>
<th:block th:unless="${not #lists.isEmpty(accessedComments)}">
    <p><span th:text="#{comments.noComments}"></span></p>
</th:block>
</body>
</html>
