<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Menu</title>
</head>
<body>
1)
<a th:href="@{/admin/menu/moderateComments}">
  Moderate comments  (<span th:text="${sizeModerateComments}"></span>)
</a><br/>
2)
<a th:href="@{/admin/menu/accessedComments}">
  View accessed comments
</a><br/>
3)
<a th:href="@{/admin/menu/users}">
  View all users
</a><br/>
4)
<a th:href="@{/admin/menu/productsForAdmin}">
  View all products
</a><br/>
5)
<a th:href="@{/admin/menu/promoCodesForAdmin}">
  View promo codes
</a><br/>
6)
<a th:href="@{/admin/menu/addPromoCodeInfo}">
  Add promo code
</a><br/>
7)
<a th:href="@{/logout}">
  Add product
</a><br/>
8)
<a th:href="@{/logout}">
  Log out
</a><br/>
9)
<a th:href="@{/admin/menu/moderateOrders}">
  Moderate orders (<span th:text="${sizeModerateOrders}"></span>)
</a><br/>
10)
<a th:href="@{/admin/menu/orders}">
  View orders
</a><br/>
</body>
</html>
