<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<form method="get" th:action="@{/admin/menu/orders}">
    <button type="submit" name="button">Back</button>
</form>
<table th:if="${not #lists.isEmpty(order.products.content)}">
    <thead>
    <tr>
        <th>#</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Country</th>
        <th>Count</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderProduct, loop : ${order.products}">
        <td th:text="${loop.index + 1}"></td>
        <td th:text="${orderProduct.product.brand.brand}"></td>
        <td th:text="${orderProduct.product.model.model}"></td>
        <td th:text="${orderProduct.product.color.color}"></td>
        <td th:text="${orderProduct.product.country.country}"></td>
        <td th:text="${orderProduct.userCount}"></td>
        <td th:text="${orderProduct.userCount * orderProduct.product.cost}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${not #lists.isEmpty(order.products)}">
    <form th:if="${not #lists.isEmpty(order.products)}" method="GET"
          th:action="@{/admin/menu/orders/{orderId}/viewInfo(orderId=${order.id})}">
        <button th:if="${order.products.hasPrevious}" type="submit" name="pagePr" value="0">First</button>
        <button th:if="${order.products.hasPrevious}" type="submit" name="pagePr" th:value="${order.products.number - 1}">
            Previous
        </button>
        <button th:if="${order.products.hasNext}" type="submit" name="pagePr" th:value="${order.products.number + 1}">
            Next
        </button>
        <button th:if="${order.products.hasNext}" type="submit" name="pagePr" th:value="${order.products.totalPages - 1}">
            Last
        </button>
    </form>
</div>
<form method="post" th:action="@{/admin/menu/orders/{orderId}/viewInfo/changeInfo(orderId=${order.id})}">
    <label for="dateOfDelivery">Date of delivery:
        <input type="date" name="dateOfDelivery" id="dateOfDelivery"/>
    </label><br/>
    <label for="status"></label><select name="status" id="status">Status:
    <option th:each="status : ${statuses}" th:text="${status}" th:value="${order.status}" ></option>
</select><br/>
    <label for="deliveryAddress"></label><select name="deliveryAddress" id="deliveryAddress">Status:
    <option th:each="deliveryAddress : ${deliveryAddresses}"
            th:text="${deliveryAddress.country + ', ' + deliveryAddress.city + ', ' + deliveryAddress.street + ', '
             + deliveryAddress.house + ', ' + deliveryAddress.flat}"
            th:value="${deliveryAddress.id}" ></option>
</select><br/>
    <button type="submit" name="send">Send</button>
</form>
<div th:if="${errors != null}" style="color: red">
    <span th:each="error : ${errors}" th:text="${error.message}"></span>
    <br/>
</div>
</body>
</html>