<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promo code</title>
</head>
<body>
<form method="get" th:action="@{/admin/menu/promoCodesForAdmin}">
  <button type="submit" name="button"><span th:text="#{menu.back}"></span></button>
</form>
<table th:if="${not #lists.isEmpty(promoCode.products)}">
    <thead>
    <tr>
        <th>#</th>
        <th><span th:text="#{products.brand}">Brand</span></th>
        <th><span th:text="#{products.model}">Model</span></th>
        <th><span th:text="#{products.color}">Color</span></th>
        <th><span th:text="#{products.country}">Country</span></th>
        <th><span th:text="#{products.count}">Count</span></th>
        <th><span th:text="#{products.price}">Price</span></th>
        <th><span th:text="#{products.storageCount}">Storage count</span></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="promoCodeProduct, loop : ${promoCode.products}">
        <td th:text="${loop.index + 1}"></td>
        <td th:text="${promoCodeProduct.product.brand.brand}"></td>
        <td th:text="${promoCodeProduct.product.model.model}"></td>
        <td th:text="${promoCodeProduct.product.color.color}"></td>
        <td th:text="${promoCodeProduct.product.country.country}"></td>
        <td th:text="${promoCodeProduct.product.cost}"></td>
        <td th:text="${promoCodeProduct.product.storageCount}"></td>
        <td>
            <form method="post" th:action="@{/admin/menu/promoCodes/{promoCodeId}/viewInfo/deleteFromProduct(promoCodeId=${promoCode.id})}">
                <input type="hidden" name="productId" th:value="${promoCodeProduct.product.id}">
                <button type="submit" name="submit" value="submit"><span th:text="#{promoCode.deleteFromPromoCode}"></span></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${not #lists.isEmpty(promoCode.products)}">
    <form th:if="${not #lists.isEmpty(promoCode.products)}" method="GET"
          th:action="@{/admin/menu/promoCodes/{promoCodeId}/viewInfo(promoCodeId=${promoCode.id})}">
        <button th:if="${promoCode.products.hasPrevious}" type="submit" name="page" value="0"><span th:text="#{page.first}">First</span></button>
        <button th:if="${promoCode.products.hasPrevious}" type="submit" name="page" th:value="${promoCode.products.number - 1}"><span th:text="#{page.previous}">Previous</span>
        </button>
        <button th:if="${promoCode.products.hasNext}" type="submit" name="page" th:value="${promoCode.products.number + 1}"><span th:text="#{page.next}">Next</span></button>
        <button th:if="${promoCode.products.hasNext}" type="submit" name="page" th:value="${promoCode.products.totalPages - 1}"><span th:text="#{page.last}">Last</span>
        </button>
    </form>
</div>
<br/>

<div th:if="${promoCodeChangeErrors != null && promoCodeChangeErrors != ''}" style="color: red">
    <span th:each="error : ${promoCodeChangeErrors}" th:text="${error.message}"></span>
    <br/>
</div>

<form method="post" th:action="@{/admin/menu/promoCodes/{promoCodeId}/viewInfo/changeName(promoCodeId=${promoCode.id})}">
    <input name="newName" type="text" th:value="${newName}" required>
    <button type="submit" name="submit"><span th:text="#{user.changeName}"></span></button>
</form>

<form method="post" th:action="@{/admin/menu/promoCodes/{promoCodeId}/viewInfo/changeDiscount(promoCodeId=${promoCode.id})}">
    <input name="newDiscount" type="number" step="any" th:value="${newDiscount}" required>
    <button type="submit" name="submit"><span th:text="#{promoCode.changeDiscount}"></span></button>
</form>


<form method="post" th:action="@{/admin/menu/promoCodes/{promoCodeId}/viewInfo/changeStatus(promoCodeId=${promoCode.id})}">
    <label th:each="status : ${promoCodeStatuses}">
        <input type="radio" id="status" name="newStatus" th:value="${status}" th:text="${status}">
        <br/>
    </label>
    <button type="submit" name="submit"><span th:text="#{promoCode.changeStatus}"></span></button>
</form>
<br/>

<form method="post" th:action="@{/admin/menu/promoCodes/{promoCodeId}/viewInfo/addProduct(promoCodeId=${promoCode.id})}" >

    <label for="product"></label><select name="productId" id="product">
        <option th:each="product : ${promoCodeProducts}" th:text="${product.brand.brand + ' , ' + product.model.model
        + ' , ' + product.color.color + ' , ' + product.country.country  + ' , ' + product.cost + ' , ' + product.storageCount}"
                name="productId" th:value="${product.id}" ></option>
    </select><br/>
    <button type="submit" name="submit"><span th:text="#{promoCode.AddProductToPromoCode}"></span></button>
</form>
</body>
</html>