<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form method="get" th:action="@{/admin/menu}">
    <button type="submit" value="send"><span th:text="#{menu.backToMenu}"></span></button>
</form>

<div th:if="${errors != null  && errors != ''}" style="color: red">
    <span th:each="error : ${errors}" th:text="${error.message}"></span>
    <br/>
</div>
<form th:action="@{/admin/menu/users}" method="get" >
    <label for="name"><span th:text="#{login.username}"></span></label>
    <input type="text" id="name" name="username" th:value="${name}">
    <br>
    <label for="email"><span th:text="#{user.email}"></span></label>
    <input type="text" id="email" name="email" th:value="${email}">
    <br>
    <label for="password"><span th:text="#{login.password}"></span></label>
    <input type="text" id="password" name="password" th:value="${password}">
    <br>
    <label for="passportNo"><span th:text="#{user.passportNumber}"></span></label>
    <input type="text" id="passportNo" name="passportNo" th:value="${passportNo}">
    <br>
    <label th:each="gender : ${genders}">
    <input type="radio" id="gender" name="gender" th:value="${gender}" th:text="${gender}">
    <br/>
    </label>
    <span th:text="#{address.usersAddresses}"></span><br/>
    <label for="country"><span th:text="#{address.country}"></span></label>
    <input type="text" id="country" name="country" th:value="${country}">
    <br>
    <label for="city"><span th:text="#{address.city}"></span></label>
    <input type="text" id="city" name="city" th:value="${city}">
    <br>
    <label for="street"><span th:text="#{address.street}"></span></label>
    <input type="text" id="street" name="street" th:value="${street}">
    <br>
    <label for="house"><span th:text="#{address.house}"></span></label>
    <input type="text" id="house" name="house" th:value="${house}">
    <br>
    <label for="flat"><span th:text="#{address.flat}"></span></label>
    <input type="text" id="flat" name="flat" th:value="${flat}">
    <br>
    <button type="submit" value="search"><span th:text="#{search.search}"></span></button>
</form>
<table th:if="${not #lists.isEmpty(users)}">
    <thead>
    <tr>
        <th>#</th>
        <th><span th:text="#{user.image}"></span></th>
        <th><span th:text="#{login.username}"></span></th>
        <th><span th:text="#{user.email}"></span></th>
        <th><span th:text="#{login.password}"></span></th>
        <th><span th:text="#{user.passportNumber}"></span></th>
        <th><span th:text="#{registration.gender}"></span></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, loop : ${users}">
        <td th:text="${loop.index + 1}"></td>
        <td ><div th:if="${user.image}">
            <img width="40" th:src="@{/users/{userId}/avatar(userId=${user.id})}" alt="User image"/>
        </div></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.passportNo}"></td>
        <td th:text="${user.gender}"></td>
        <td>
            <form method="get" th:action="@{/admin/menu/users/{userId}/profile(userId=${user.id})}">
                <input type="hidden" name="name" th:value="${name}"/>
                <input type="hidden" name="password" th:value="${password}"/>
                <input type="hidden" name="passportNo" th:value="${passportNo}"/>
                <input type="hidden" name="email" th:value="${email}"/>
                <input type="hidden" name="gender" th:value="${gender}"/>
                <input type="hidden" name="country" th:value="${country}"/>
                <input type="hidden" name="street" th:value="${street}"/>
                <input type="hidden" name="city" th:value="${city}"/>
                <input type="hidden" name="house" th:value="${house}"/>
                <input type="hidden" name="flat" th:value="${flat}"/>
                <input type="hidden" name="pageU" th:value="${users.number}"/>
                <button type="submit" value="View info"><span th:text="#{user.viewInfo}"></span></button>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/admin/menu/users/{userId}/delete(userId=${user.id})}">
                <input type="hidden" name="name" th:value="${name}"/>
                <input type="hidden" name="password" th:value="${password}"/>
                <input type="hidden" name="passportNo" th:value="${passportNo}"/>
                <input type="hidden" name="email" th:value="${email}"/>
                <input type="hidden" name="gender" th:value="${gender}"/>
                <input type="hidden" name="country" th:value="${country}"/>
                <input type="hidden" name="street" th:value="${street}"/>
                <input type="hidden" name="city" th:value="${city}"/>
                <input type="hidden" name="house" th:value="${house}"/>
                <input type="hidden" name="flat" th:value="${flat}"/>
                <input type="hidden" name="pageU" th:value="${users.number}"/>
                <button type="submit" value="submit"><span th:text="#{delete.delete}"></span></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<div th:if="${not #lists.isEmpty(users)}">
    <form th:if="${not #lists.isEmpty(users)}" method="GET"
          th:action="@{/admin/menu/users}">
        <input type="hidden" name="name" th:value="${name}"/>
        <input type="hidden" name="password" th:value="${password}"/>
        <input type="hidden" name="passportNo" th:value="${passportNo}"/>
        <input type="hidden" name="email" th:value="${email}"/>
        <input type="hidden" name="gender" th:value="${gender}"/>
        <input type="hidden" name="country" th:value="${country}"/>
        <input type="hidden" name="street" th:value="${street}"/>
        <input type="hidden" name="city" th:value="${city}"/>
        <input type="hidden" name="house" th:value="${house}"/>
        <input type="hidden" name="flat" th:value="${flat}"/>
        <button th:if="${users.hasPrevious}" type="submit" name="page" value="0"><span th:text="#{page.first}">First</span></button>
        <button th:if="${users.hasPrevious}" type="submit" name="page" th:value="${users.number - 1}"><span th:text="#{page.previous}">Previous</span>
        </button>
        <button th:if="${users.hasNext}" type="submit" name="page" th:value="${users.number + 1}"><span th:text="#{page.next}">Next</span></button>
        <button th:if="${users.hasNext}" type="submit" name="page" th:value="${users.totalPages - 1}"><span th:text="#{page.last}">Last</span>
        </button>
    </form>

</div>
</body>
</html>