<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<a th:href="@{/admin/menu/users}">
    <button type="button"><span th:text="#{menu.back}">Back</span></button>
</a>

<p><span th:text="#{login.username}"></span></p>
<span th:text="${user.username}"></span>
<p><span th:text="#{user.email}"></span></p>
<span th:text="${user.email}"></span>
<p><span th:text="#{user.passportNumber}"></span></p>
<span th:text="${user.passportNo}"></span>
<p><span th:text="#{user.balance}"></span></p>
<span th:text="${user.balance} + '$'"></span>
<br/>
<p><span th:text="#{address.deliveryAddress}"></span></p>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th><span th:text="#{address.country}"></span></th>
        <th><span th:text="#{address.city}"></span></th>
        <th><span th:text="#{address.street}"></span></th>
        <th><span th:text="#{address.house}"></span></th>
        <th><span th:text="#{address.flat}"></span></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address, loop : ${addresses}">
        <td th:text="${loop.index + 1}"></td>
        <td th:text="${address.country}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.house}"></td>
        <td th:text="${address.flat}"></td>
    </tr>
    </tbody>
</table>
<div th:if="${not #lists.isEmpty(addresses)}">
    <form th:if="${not #lists.isEmpty(addresses)}" method="GET"
          th:action="@{admin/menu/users/{userId}/profile(userId=${user.id})}">
        <input type="hidden" name="pageO" th:value="${userOrders.number}">
        <button th:if="${addresses.hasPrevious}" type="submit" name="pageA" value="0"><span th:text="#{page.first}">First</span></button>
        <button th:if="${addresses.hasPrevious}" type="submit" name="pageA" th:value="${addresses.number - 1}">Pr<span th:text="#{page.previous}">Previous</span>evious
        </button>
        <button th:if="${addresses.hasNext}" type="submit" name="pageA" th:value="${addresses.number + 1}"><span th:text="#{page.next}">Next</span></button>
        <button th:if="${addresses.hasNext}" type="submit" name="pageA" th:value="${addresses.totalPages - 1}"><span th:text="#{page.last}">Last</span>
        </button>
    </form>
</div>
<p><span th:text="#{order.orders}"></span></p>
<table th:if="${not #lists.isEmpty(userOrders.content)}">
    <thead>
    <tr>
        <th>#</th>
        <th><span th:text="#{order.status}"></span></th>
        <th><span th:text="#{order.date}"></span></th>
        <th><span th:text="#{order.countOfProducts}"></span></th>
        <th><span th:text="#{order.dateOfDelivery}"></span></th>
        <th><span th:text="#{products.price}"></span></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order, loop : ${userOrders}">
        <td>  <a th:href="@{/admin/menu/users/{userId}/profile/orders/{orderId}(orderId=${order.id}, userId=${order.id})}">
            <span style="text-align: center;" th:text="${order.id}"></span>
        </a></td>
        <td  style="text-align: center;" th:text="${order.status}"></td>
        <td  style="text-align: center;" th:text="${order.date}"></td>
        <td  style="text-align: center;" th:text="${order.products.size()}"></td>
        <td  style="text-align: center;" th:text="${order.dateOfDelivery != null ? order.dateOfDelivery : 'unknown'}"></td>
        <td  style="text-align: center;" th:text="${order.cost}"></td>
    </tr>
    </tbody>
</table>
<div th:if="${not #lists.isEmpty(userOrders)}">
    <form th:if="${not #lists.isEmpty(userOrders)}" method="GET"
          th:action="@{/admin/menu/users/{userId}/profile(userId=${user.id})}">
        <input type="hidden" name="pageA" th:value="${addresses.number}">
        <button th:if="${userOrders.hasPrevious}" type="submit" name="pageO" value="0"><span th:text="#{page.first}">First</span></button>
        <button th:if="${userOrders.hasPrevious}" type="submit" name="pageO" th:value="${userOrders.number - 1}">
            <span th:text="#{page.previous}">Previous</span>
        </button>
        <button th:if="${userOrders.hasNext}" type="submit" name="pageO" th:value="${userOrders.number + 1}">
            <span th:text="#{page.next}">Next</span>
        </button>
        <button th:if="${userOrders.hasNext}" type="submit" name="pageO" th:value="${userOrders.totalPages - 1}">
            <span th:text="#{page.last}">Last</span>
        </button>
    </form>
</div>
</body>
</html>