<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>change email</title>
</head>
<body>
<a th:href="@{/users/{userId}/profileMenu(userId=${userDto.id})}">
  <button type="button">Back to menu</button>
</a>
<form th:action="@{/users/{userId}/profileMenu/changeEmail(userId=${userDto.id})}" method="post">
  <label for="password">Password:
    <input type="password" name="password" id="password" th:value="${password}" required>
  </label><br>
  <label>New email:
    <input type="text" name="newEmail" id="newEmail" th:value="${newEmail}"required>
  </label>
  <label for="submit">
    <input type="submit" value="send" id="submit">
  </label>
  <div th:if="${errors != null}" style="color: red">
    <span th:each="error : ${errors}" th:text="${error.message}"></span>
    <br/>
  </div>
</form>
</body>
</html>
