<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>changePassportNo</title>
</head>
<body>
<a th:href="@{/users/{userId}/profileMenu(userId=${userDto.id})}">
  <button type="button">Back to menu</button>
</a>
<form th:action="@{/users/{userId}/profileMenu/changePassportNo(userId=${userDto.id})}" method="post">
  <label>New passport number:
    <input type="text" name="newPassportNo" id="newPassportNo" th:value="${newPassportNo}" required>
  </label>
  <label for="submit">
    <input type="submit" value="send" id="submit">
  </label>
  <div th:if="${errors != null}" style="color: red">
    <span th:each="error : ${errors}" th:text="${error.message}"></span>
    <br/>
  </div>
</form>
</body>
</html>
