<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>changePassword</title>
</head>
<body>
<a th:href="@{/users/{userId}/profileMenu(userId=${userDto.id})}">
    <button type="button">Back to menu</button>
</a>
<form th:action="@{/users/{userId}/profileMenu/changePassword(userId=${userDto.id})}" method="post">
    <label for="oldPassword">Old password:
        <input type="password" name="oldPassword" id="oldPassword" th:value="${oldPassword}" required>
    </label><br>
    <label> New password:
        <input type="password" name="newPassword" id="newPassword" th:value="${newPassword}" required>
    </label>
    <label for="submit">
        <input type="submit" value="send" id="submit">
    </label>
</form>
<div th:if="${errors != null}" style="color: red">
    <span th:each="error : ${errors}" th:text="${error.message}"></span>
    <br/>
</div>
</body>
</html>
