<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/users}">
    <button type="button"><span th:text="#{menu.backToMenu}"></span></button>
</a>
<table th:if="${not #lists.isEmpty(userOrders.content)}">
    <thead>
    <tr>
        <th>#</th>
        <th><span th:text="#{order.status}">Status</span></th>
        <th><span th:text="#{order.date}">Date</span></th>
        <th><span th:text="#{order.countOfProducts}">Count of products</span></th>
        <th><span th:text="#{order.dateOfDelivery}">Date of delivery</span></th>
        <th><span th:text="#{products.price}">Price</span></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order, loop : ${userOrders}">
        <td>  <a th:href="@{/users/{userId}/orders/{orderId}(orderId=${order.id}, userId=${order.id})}">
            <input type="hidden" name="pageOH" th:value="${userOrders.number}"/>
            <span style="text-align: center;" th:text="${order.id}"></span>
        </a></td>
        <td  style="text-align: center;" th:text="${order.status}"></td>
        <td  style="text-align: center;" th:text="${order.date}"></td>
        <td  style="text-align: center;" th:text="${order.products.size()}"></td>
        <td  style="text-align: center;" th:text="${order.dateOfDelivery != null ? order.dateOfDelivery : 'unknown'}"></td>
        <td  style="text-align: center;" th:text="${order.cost}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${not #lists.isEmpty(userOrders)}">
    <form th:if="${not #lists.isEmpty(userOrders)}" method="GET"
          th:action="@{/users/{userId}/orderHistory(userId=${userDto.id})}">
        <button th:if="${userOrders.hasPrevious}" type="submit" name="page" value="0"><span th:text="#{page.first}">First</span></button>
        <button th:if="${userOrders.hasPrevious}" type="submit" name="page" th:value="${userOrders.number - 1}">
            <span th:text="#{page.previous}">Previous</span>
        </button>
        <button th:if="${userOrders.hasNext}" type="submit" name="page" th:value="${userOrders.number + 1}">
            <span th:text="#{page.next}">Next</span>
        </button>
        <button th:if="${userOrders.hasNext}" type="submit" name="page" th:value="${userOrders.totalPages - 1}">
            <span th:text="#{page.last}">Last</span>
        </button>
    </form>
</div>
</body>
</html>