<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<a th:href="@{/users}">
    <button type="button"><span th:text="#{menu.backToMenu}">Menu:</span></button>
</a><br/>

<p><span th:text="#{login.username}">Login</span></p>
<span th:text="${userDto.username}"></span>
<a th:href="@{/users/{userId}/profileMenu/changeLogin(userId=${userDto.id})}">
    <button type="button"> <span th:text="#{user.changeName}">Change name</span></button>
</a>
<p><span th:text="#{user.email}">Email:</span></p>
<span th:text="${userDto.email}"></span>
<a th:href="@{/users/{userId}/profileMenu/changeEmail(userId=${userDto.id})}">
    <button type="button"> <span th:text="#{user.changeEmail}">Change email</span></button>
</a>
<p><span th:text="#{user.passportNumber}">Passport number:</span></p>
<span th:text="${userDto.passportNo}"></span>
<a th:href="@{/users/{userId}/profileMenu/changePassportNo(userId=${userDto.id})}">
    <button type="button"> <span th:text="#{user.changePassportNumber}">change passportNo:</span></button>
</a>
<p><span th:text="#{user.balance}">Balance:</span> </p>
<span th:text="${userDto.balance} + '$'"></span>
<a th:href="@{/users/{userId}/profileMenu/putMoney(userId=${userDto.id})}">
    <button type="button"><span th:text="#{user.putMoney}">Put money</span></button>
</a>
<br/>
<a th:href="@{/address/addAddress}">
    <button type="button"><span th:text="#{address.addAddress}">add address</span></button>
</a>
<p><span th:text="#{address.yourDeliveryAddresses}">Your delivery addresses:</span></p>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th><span th:text="#{address.country}"></span></th>
        <th><span th:text="#{address.city}"></span></th>
        <th><span th:text="#{address.street}"></span></th>
        <th><span th:text="#{address.house}"></span></th>
        <th><span th:text="#{address.flat}"></span></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address, loop : ${addresses}">
        <td th:text="${loop.index + 1}"></td>
        <td th:text="${address.country}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.house}"></td>
        <td th:text="${address.flat}"></td>
        <td>
            <form method="post" th:action="@{/address/deleteAddress}">
                <input type="hidden" name="addressId" th:value="${address.id}"/>
                <input type="hidden" name="pageA" th:value="${addresses.number}">
                <button type="submit" value="Delete"><span th:text="#{delete.delete}">Delete:</span></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${not #lists.isEmpty(addresses)}">
    <form th:if="${not #lists.isEmpty(addresses)}" method="GET"
          th:action="@{/users/{userId}/profileMenu(userId=${userDto.id})}">
        <button th:if="${addresses.hasPrevious}" type="submit" name="page" value="0"><span th:text="#{page.first}">First</span></button>
        <button th:if="${addresses.hasPrevious}" type="submit" name="page" th:value="${addresses.number - 1}"><span th:text="#{page.previous}">Previous</span>
        </button>
        <button th:if="${addresses.hasNext}" type="submit" name="page" th:value="${addresses.number + 1}"><span th:text="#{page.next}">Next</span></button>
        <button th:if="${addresses.hasNext}" type="submit" name="page" th:value="${addresses.totalPages - 1}"><span th:text="#{page.last}">Last</span>
        </button>
    </form>
</div>
</body>
</html>
