<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Put Money</title>
</head>
<body>
<a th:href="@{/users/{userId}/profileMenu(userId=${userDto.id})}">
    <button type="button">Back to menu</button>
</a>
<form th:action="@{/users/{userId}/profileMenu/putMoney(userId=${userDto.id})}" method="post">
    <label for="money">Money:
        <input type="number" name="money" id="money" th:value="${money}" step="any" required>
    </label><br>
    <label for="submit">
        <input type="submit" value="send" id="submit">
    </label>
</form>
<div th:if="${errors != null}" style="color: red">
    <span th:each="error : ${errors}" th:text="${error.message}"></span>
    <br/>
</div>
</body>
</html>