<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add comment</title>
</head>
<body>
<form method="post" th:action="@{/users/{id}/addComment(id=${userDto.id})}">
    <label for="comment"><span th:text="#{comments.writeComment}">Write comment:</span></label>
    <br/>
    <textarea id="comment" name="comment" rows="5" cols="40"></textarea>
    <br/>
    <button type="submit"><span th:text="#{registration.send}">Send:</span></button>
    <a th:href="@{/users}">
        <button type="button"><span th:text="#{menu.backToMenu}">Menu:</span></button>
    </a>
</form>
</body>
</html>

