<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add address</title>
</head>
<body>
<form th:action="@{/address/addAddress}" method="post">
    <p><span th:text="#{address.addAddress}">Add address for delivery</span></p>
    <label for="country"><span th:text="#{address.country}">Country:</span>
        <input type="text" name="country" id="country" th:value="${country}" required>
    </label><br/>
    <label for="city"><span th:text="#{address.city}">City:</span>
        <input type="text" name="city" id="city" th:value="${city}" required>
    </label><br/>
    <label for="street"><span th:text="#{address.street}">Street:</span>
        <input type="text" name="street" id="street" th:value="${street}" required>
    </label><br/>
    <label for="house"><span th:text="#{address.house}">House:</span>
        <input type="text" name="house" id="house" th:value="${house}" required>
    </label><br/>
    <label for="flat"><span th:text="#{address.flat}">Flat:</span>
        <input type="text" name="flat" id="flat" th:value="${flat}">
    </label><br/>
    <label for="submit">
        <input type="submit" th:value="#{registration.send}" id="submit">
    </label>
</form>
<div th:if="${errors != null}" style="color: red">
    <span th:each="error : ${errors}" th:text="${error.message}"></span>
    <br/>
</div>
</body>
</html>