<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <label for="username">Login:
        <input type="text" name="username" id="username" th:value="${username}" required>
    </label><br>
    <label for="password">Password:
        <input type="password" name="password" id="password" th:value="${password}" required>
    </label><br>
    <button type="submit">Login</button>
    <a th:href="@{/registration}">
        <button type="button">Registration</button>
    </a>

    <div style="color: red" th:if="${param.error}">
        Invalid username and password.
    </div>
</form>
</body>
</html>
