<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
</head>
<body>
<div th:insert="~{fragment :: locale}"></div>
<p><span th:text="#{market.text1}">text1:</span>
</p>
<p>
    <span th:text="#{market.text2}">text2:</span>
</p>
<p>
    <span th:text="#{market.text3}">text3:</span>
</p>
<p>
    <span th:text="#{market.text4}">text4:</span>
</p>
<p>
    <span th:text="#{market.text5}">text5:</span>
</p>
<a th:href="@{/users}">
    <button type="button"><span th:text="#{menu.backToMenu}">text5:</span></button>
</a>

</body>
</html>
