<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/registration}" enctype="multipart/form-data" method="post">
    <label for="name">Name:
        <input type="text" name="name" id="name" th:value="${name}" required>
    </label><br/>
    <label for="password">Password:
        <input type="password" name="password" id="password" th:value="${password}" required>
    </label><br/>
    <label for="passportNo">Passport number:
        <input type="text" name="passportNo" id="passportNo" th:value="${passportNo}" required>
    </label><br/>
    <label for="email">Email:
        <input type="email" name="email" id="email" th:value="${email}" required>
    </label><br/>
    <label for="image"> Image
        <input id="image" type="file" name="image">
    </label><br>
    <select name="role" id="role">
        <option th:each="role : ${roles}" th:text="${role}" th:value="${role}" ></option>
    </select><br/>
    <label for="gender">Gender:</label><br/>
    <label th:each="gender : ${genders}">
        <input type="radio" id="gender" name="gender" th:value="${gender}" th:text="${gender}">
        <br/>
    </label>
    <input type="submit" value="Send">
    <a th:href="@{'/login'}">
        <button type="button">Back to login</button>
    </a>
</form>
<div th:if="${errors != null}" style="color: red">
    <span th:each="error : ${errors}" th:text="${error.message}"></span>
    <br/>
</div>
</body>
</html>
