<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>

</head>
<body>
<a th:href="@{/users}">
    <button type="button"><span th:text="#{menu.backToMenu}">Back to menu:</span></button>
</a> <br/>
<th:block th:if="${userComments != null and not #lists.isEmpty(userComments)}">
    <th:block th:each="comment, status : ${userComments}">
        <span th:text="${(status.index + 1)}")></span> <span th:text="${comment.comment}"></span>
        <span th:text="${comment.status}"> </span>
        <form method="post"
              th:action="@{/users/{userId}/personalComments/delete(userId=${userDto.id})}">
            <input type="hidden" name="commentId" th:value="${comment.id}"/>
            <button type="submit" value="Delete"><span th:text="#{delete.delete}">Delete</span></button>
        </form>
    </th:block>
</th:block>
<th:block th:unless="${userComments != null and not #lists.isEmpty(userComments)}">
    <p><span th:text="#{comments.userNotComments}"></span></p>
</th:block>
</body>
</html>
